/target
.idea
.classpath
.project
.settings
/maven-fingerprint-plugin/fingerprint-plugin.iml

# We don't want to keep cruft from JUnit test runs in version control
/maven-fingerprint-plugin/src/test/fingered-web
